<ion-view view-title="File Attachment Example">
  <ion-content>
    <h4>File Attachment Example</h4>
        <div class="button button-positive full margin_top_ten" ng-model="files" ng-click="showDialog()">Attachment</div>
        <div class="row" ng-repeat="f in ufiles" style="width:70%;">
            <div class="col col-10"><i class=""></i></div>
            <div class="col col-80">{{f.file.name}}  </div>
            <div class="col col-10" ng-click="removeAttachment('{{f.id}}')">
                <i class="icon ion-trash-b"></i>                 
            </div>
      </div>
  </ion-content>
</ion-view>
